.container {
  display: flex;
  position: relative;
  flex: 1;
  gap: 20px;
}

.group_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  padding-right: var(--individual-padding);
}

.group_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group_name {
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  color: rgb(255, 78, 78);
  cursor: pointer;
}

.delete_container {
  width: 400px;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.delete_container button {
  background-color: red;
  outline: none;
  border: none;
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  transition: .3s;
}

.delete_container button:hover {
  background-color: rgb(131, 0, 0);
  font-weight: 800;
}
