.container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.content p {
  text-align: center;
}

.content button {
  background-color: green;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.content .item {
  width: 100%;
  padding-block: 10px;
  border-bottom: 1px solid white;
}

.content .item:last-child {
  width: 100%;
  border-bottom: none;
}

.empty {
  padding-bottom: 10px;
}

.add_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  color: gray;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  font-size: 16px;
}

.add:hover {
  color: white;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
}

.share {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  gap: 5px;
  color: gray;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  font-size: 16px;
}

.share:hover {
  color: white;
}

@media (max-width: 950px) {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
