.follow {
  width: 150px;
  background-color: gray;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
}

.follow:hover {
  background-color: rgb(71, 71, 71);
}

.following {
  width: 150px;
  background-color: green;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
}

.unfollow {
  background-color: orangered;
}
