
.content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.text_input {
  max-width: 100%;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, .3);
}

.text_input[type="submit"] {
  background-color: darkgreen;
  cursor: pointer;
  border: none;
}
