:root {
  --primary-background-color: #171522;
  --padding-layout: 20px 200px;
  --header-padding: 20px 200px;
  --individual-padding: 200px;
}

@media (max-width: 950px) {
  :root {
    --padding-layout: 30px;
    --header-padding: 20px 100px;
    --individual-padding: 30px;
  }
}

@media (max-width: 720px) {
  :root {
    --header-padding: 20px 30px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  overflow-x: hidden;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  padding: var(--padding-layout);
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
