.form_container {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.text_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  background-color: whitesmoke;
  color: black;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .3);
}

.text_input[type="submit"] {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  border: none;
}

.media_list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}

.options {
  display: flex;
  justify-content: space-around;
}

.options label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.clear_button {
  cursor: pointer;
  background-color: rgba(136, 8, 8, 0.750);
  border: none;
  border-radius: 5px;
}

.clear_button:hover {
  background-color: rgba(136, 8, 8, 0.850);
}
