.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  flex: 1;
  gap: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
}

.button {
  background-color: green;
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
